{% extends "_layout.twig" %}

{% set bannerImg = entry.bannerImage.one() %}

{% block content %}
<section id="home" class="main-banner parallaxie" style="background: url('{{ bannerImg.url }}')">
    <div class="heading">
        {{ entry.bannerRichText }}
        <h3 class="cd-headline clip is-full-width">
            <span>Lorem ipsum dolor sit amet </span>
            <span class="cd-words-wrapper">
                        <b class="is-visible">Fashion photography</b>
                        <b>Candid photography</b>
                        <b>Landscape photography</b>
                        <b>Documentary photography</b>
                        <b>Architectural photography</b>
                    </span>
        </h3>
    </div>
</section>

<div id="about" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">
                    <h2> {{ entry.aboutTitle }} </h2>
                    {{ entry.aboutContent }}

                    <div class="skill-bar-box">
                        <h2> Photograpgy Skills </h2>
                        {% for skill in entry.aboutPhotographySkills.all() %}
                            <div class="skillbar" data-percent="{{ skill.blockSkillPercentage }}">
                                <span class="skillbar-title" style="background: #db5c87;">{{ skill.blockSkillName }}</span>
                                <p class="skillbar-bar" style="background: #e45050;"></p>
                                <span class="skill-bar-percent"></span>
                            </div>
                        {% endfor %}
                        <!-- End Skill Bar -->
                    </div>

                    <a href="#" class="sim-btn btn-hover-new" data-text="My Works"><span>My Works</span></a>
                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-6">
                <div class="right-box-pro wow fadeIn">
                    {% set aboutImage = entry.aboutImage.one() %}
                    <img src="{{ aboutImage.url }}" alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="gallery" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            {{ entry.galleryTitle }}
        </div><!-- end title -->

        <div class="gallery-menu text-center row">
            <div class="col-md-12">
                <div class="button-group filter-button-group">
                    <button class="active" data-filter="*">All</button>
                    <button data-filter=".photo_a">Wedding</button>
                    <button data-filter=".photo_b">Models</button>
                    <button data-filter=".photo_c">Fashion</button>
                </div>
            </div>
        </div>

        <div class="gallery-list row">
            {% for gallery in entry.galleryList.all() %}
                {% set galleryImage = gallery.galleryImage.one() %}
                <div class="col-md-4 col-sm-6 gallery-grid {{ gallery.galleryGridClass }}">
                    <div class="gallery-single fix">
                        <img src="{{ galleryImage.url }}" class="img-fluid" alt="Image">
                        <div class="box-content">
                            <div class="inner-content">
                                <h3 class="title">{{ gallery.galleryListTitle }}</h3>
                                <span class="post">{{ gallery.galleryPost }}</span>
                            </div>
                            <ul class="icon">
                                <li><a href="{{ galleryImage.url }}" data-rel="prettyPhoto[gal]"><i class="fa fa-search"></i></a></li>
                                <li><a href="#"><i class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="services" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            {{ entry.servicesTitle }}
        </div><!-- end title -->

        <div class="row">
            {% for service in entry.servicesContent %}
                <div class="col-md-4">
                    <div class="services-inner-box">
                        <div class="ser-icon">
                            <i class="{{ service.servicesClassIcon }}"></i>
                        </div>
                        {{ service.servicesRichText }}
                    </div>
                </div><!-- end col -->
            {% endfor %}
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="reviews" class="section wb parallaxie" style="background: url('{{ siteUrl }}static/uploads/reviews-bg.jpg')">
    <div class="container">
        <div class="section-title text-center">
            {{ entry.reviewTitle }}
           </div><!-- end title -->

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="testi-carousel owl-carousel owl-theme">
                {% for review in entry.reviewContent.all() %}
                    {% set reviewImage = review.reviewImage.one() %}
                    <div class="testimonial clearfix">
                        <figure class="testimonial_img">
                            <img src="{{ reviewImage.url }}" alt="" class="img-fluid">
                        </figure>
                        {{ review.reviewDescription }}
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->
                {% endfor %}
                </div><!-- end carousel -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

{#<div id="pricing" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Pricing</h3>
            <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="title">Studio</h3>
                    </div>
                    <div class="pricing-content">
                        <div class="price-value">
                            <i class="fa fa-star"></i>
                            <span class="amount">10$</span>
                            <span class="month">month</span>
                        </div>
                        <ul>
                            <li>1-Location Shoot</li>
                            <li>$10 Print Credit</li>
                            <li>15 Digital Files</li>
                            <li>Print Release</li>
                        </ul>
                        <a href="#" class="pricingTable-signup">Order Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricingTable yellow">
                    <div class="pricingTable-header">
                        <h3 class="title">Fasion</h3>
                    </div>
                    <div class="pricing-content">
                        <div class="price-value">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <span class="amount">20$</span>
                            <span class="month">month</span>
                        </div>
                        <ul>
                            <li>2-Location Shoot</li>
                            <li>$30 Print Credit</li>
                            <li>20 Digital Files</li>
                            <li>Print Release</li>
                        </ul>
                        <a href="#" class="pricingTable-signup">Order Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricingTable purple">
                    <div class="pricingTable-header">
                        <h3 class="title">Wedding</h3>
                    </div>
                    <div class="pricing-content">
                        <div class="price-value">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            <span class="amount">30$</span>
                            <span class="month">month</span>
                        </div>
                        <ul>
                            <li>3-Location Shoot</li>
                            <li>$40 Print Credit</li>
                            <li>25 Digital Files</li>
                            <li>Print Release</li>
                        </ul>
                        <a href="#" class="pricingTable-signup">Order Now</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>#}

<div id="contact" class="section db">
    <div class="container">
        <div class="section-title text-center">
            <h3>Contact Me</h3>
            <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
        </div><!-- end title -->

        {% if craft.app.session.hasFlash('success') %}
            <p class="alert alert-success">{{ craft.app.session.getFlash('success') }}</p>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <div class="contact_form">
                    <form method="post" action="">
                        {{ csrfInput() }}
                        <input type="hidden" name="action" value="contact-form/send">
                        <input type="hidden" name="redirect" value="{{ siteUrl }}#contact">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="form-control" name="fromName" type="text" placeholder="Your Name" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="fromEmail" type="email" placeholder="Your Email" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="subject" type="text" placeholder="Subject" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" placeholder="Your Message" required></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <button class="sim-btn btn-hover-new" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

{% endblock %}
